repos:
  - repo: https://github.com/pre-commit/pre-commit
    rev: v3.7.0
    hooks:
      - id: validate_manifest
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.13.0
    hooks:
      - id: pretty-format-kotlin
        args: [ --ktfmt ]
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.13.0
    hooks:
    - id: pretty-format-java
      args: [--autofix]
