*

!build.gradle.kts
!gradle.properties
!README.md
!settings.gradle.kts

!rdfc-cli/build.gradle.kts
!rdfc-cli/src

!rdfc-core/build.gradle.kts
!rdfc-core/src

!rdfc-intermediate/build.gradle.kts
!rdfc-intermediate/src

!rdfc-orchestrator/build.gradle.kts
!rdfc-orchestrator/src

!rdfc-parser/build.gradle.kts
!rdfc-parser/src

!rdfc-processor/build.gradle.kts
!rdfc-processor/src
